#index {
  min-height: 100vh;
  padding: 0;
}

/* Grid split */
#index .landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

/* FULL LEFT COLUMN */
#index .landing-content {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
}

/* Title */
#index .animated-title {
  font-size: 6.5rem;
  font-weight: 700;
  display: inline-flex;
  white-space: nowrap;
}

/* Medi */
#index .animated-title .medi {
  color: var(--cream);
  opacity: 0;
  transform: translateX(-30px);
  animation: mediSlide 0.5s ease forwards,
    titlePop 0.25s ease forwards 1s;
}

/* Mate */
#index .animated-title .mate {
  color: var(--primary-dark);
  opacity: 0;
  transform: translateX(30px);
  animation: mateSlide 0.5s ease forwards 0.5s,
    titlePop 0.25s ease forwards 1s;
}

#index .subtitle {
  font-size: 1.7rem;
  color: var(--cream);
  margin-top: 1.5rem;
  max-width: 500px;
}

#index .cta-btn {
  margin-top: 2rem;
}

/* FULL RIGHT COLUMN */
#index .landing-visual {
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("/static/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Sprite */
#index .sprite {
  width: 400px;
  height: 400px;

  background-image: url("/static/spritesheet.png");
  background-repeat: no-repeat;

  animation:
    playSprite 1s steps(3) forwards,
    spritePop 0.25s ease forwards 1s;
}

/*ANIMATIONS*/

@keyframes mediSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes mateSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes titlePop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes playSprite {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1200px 0;
  }
}

@keyframes spritePop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

/*
   RESPONSIVE */

/* Tablet */
@media (max-width: 1024px) {

  #index .landing {
    grid-template-columns: 1fr;
  }

  #index {
    background: var(--primary);
  }

  #index .landing-content {
    padding: 4rem 2rem;
    text-align: center;
    align-items: center;
  }

  #index .landing-visual {
    background-color: var(--cream);
    background-size: cover;
    min-height: 50vh;
  }
}

/* Mobile */
@media (max-width: 600px) {

  #index .animated-title {
    font-size: 3.5rem;
  }

  #index .subtitle {
    font-size: 1.2rem;
  }

}