<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="icon" href="{{ url_for('static', filename='icons/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  {% block page_css %}{% endblock %}
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>

<body class="{% block body_class %}bg-main{% endblock %}">
  {% block top_nav %}

  {% if session.get("username") %}
  <!--TOPBAR -->
  <header class="topbar">
    <nav class="topbar-left" aria-label="User controls">
      <button id="menuToggle" class="icon-btn" aria-label="Open menu">
        <img src="{{ url_for('static', filename='icons/menu.png') }}" alt="">
      </button>

      <a href="{{ url_for('profile') }}" class="icon-btn" aria-label="Profile">
        <img src="{{ url_for('static', filename='icons/profile.png') }}" alt="">
      </a>
    </nav>

    <h1 class="logo">
      <a href="{{ url_for('index') }}">
        <span class="medi">Medi</span><span class="mate">Mate</span>
      </a>
    </h1>
  </header>

  <!--SIDEBAR -->
  <aside class="sidebar" id="sidebar" aria-label="Sidebar navigation">
    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
        <li><a href="{{ url_for('add_medication') }}">Add Medication</a></li>
        <li><a href="{{ url_for('my_medications') }}">My Medications</a></li>
        <li><a href="{{ url_for('log_medication_week') }}">Log Medication</a></li>
        <li><a href="{{ url_for('log_symptom') }}">Log Symptom</a></li>
        <li><a href="{{ url_for('medimates') }}">MediMates</a></li>
        <li>
          <a href="{{ url_for('notification_centre') }}">
            Notification Centre
            {% if unread_notification_count > 0 %}
            ({{ unread_notification_count }})
            {% endif %}
          </a>
        </li>
        </a>
      </ul>
    </nav>

    <footer class="sidebar-footer">
      <a href="{{ url_for('logout') }}" class="logout-btn">
        <span class="logout-icon">➜]</span>
        <span>Logout</span>
      </a>
    </footer>
  </aside>

  {% endif %}

  {% endblock %}
  <main>
    {% block main_content %}
    {% endblock %}
  </main>
  <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='firebase.js') }}"></script>
  {% block page_js %}{% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='chart.js') }}"></script>
</body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash_messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


</html>