{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block main_content %}
<main id="index" >

  {% if session.get("username") %}
  <section class="welcome">
    <p>Welcome back, <strong>{{ session.get("username") }}</strong></p>
  </section>

<!-- CALENDAR -->
  {% if calendar %}
  <section>
    <h2>This Week</h2>
    {% include "week_calendar.html" %}
    <a class="btn" href="{{ url_for('calendar') }}">View Full Calendar</a>
    <a class="btn" href="{{ url_for('log_medication_week') }}">Log Medication</a>
  </section>
  {% endif %}

<!-- STREAK -->
  <section class="streak">
    <h2> Current Streak: {{ streak }} 🔥</h2>
    {% if streak > 0 %}
      <p class="streak-counter">Keep going 💪
      </p>
      {% if streak >= 7 %}
        <p class="streak-message">You're on fire! 🔥🔥🔥</p> {% endif %}
    {% else %}
      <p class="streak-empty">No streak yet 💔</p>
    {% endif %}
  </section>

<!-- PROGRESS CHART -->
  {% if chart_data %}
  <section class="progress-chart">
      <h2>Progress for {{ month_name }}</h2>

      <script id="progress-data" type="application/json">
          {{ chart_data | tojson }}
      </script>

      <div class="chart-container">
          <canvas id="progressChart" style="height: 400px;"></canvas>
      </div>
  </section>
{% endif %}

<button id="enable_notifications" type="button">Enable Notifications</button>

<!-- IF THE USER DOES NOT LOG IN: -->
  {% else %}
  <section class="landing">

    <!-- LEFT CONTENT -->
    <article class="landing-content">
      <header>
        <h1 class="animated-title">
          <span class="medi">Medi</span><span class="mate">Mate</span>
        </h1>
        <p class="subtitle">Medication Made Manageable.</p>
      </header>

      <nav aria-label="Get started">
        <a class="btn cta-btn" href="{{ url_for('login') }}">
          Get Started
        </a>
      </nav>
    </article>

    <!-- RIGHT ANIMATION -->
    <figure class="landing-visual" aria-hidden="true">
      <span class="sprite"></span>
    </figure>

  </section>
  {% endif %}


</main>
{% endblock %}