{% extends "base.html" %}

{% block main_content %}

<h1>Medimates Meds</h1>

<table>
    {% for med in meds %}
        <tr>
            <td>Medication: {{ med["medication_name"] }}</td>
            <td>
                Amount: {{ med["dosage_amount"] }}
            </td>
            <td>
                Unit: {{ med["dosage_unit"] }}
            </td>
            <td>
                Start date: {{ med["start_date"] }}
            </td>
            <td>
                End date: {{ med["end_date"] }}
            </td>
        </tr>
    {% endfor %}
</table>

<h1>Symptoms</h1>
<table>
    {% for symptom in symptoms %}
        <tr>
            <td>Symptom: {{ symptom["symptom_name"] }}</td>
            <td>
                Severity: {{ symptom["severity"] }}
            </td>
            <td>
                Date experienced: {{ symptom["symptom_date"] }}
            </td>
            <td>
                Notes: {{ symptom["notes"] }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}