{% extends "base.html" %}
{% block main_content %}

<main id="medimate_activity" class="container">

    <!-- MEDICATIONS -->
    <h2 class="mb-lg">Your Medimate's Medications</h2>

    {% if meds %}
    <ul class="activity-list">

        {% for med in meds %}
        <li class="card mb-md">

            <header class="mb-sm">
                <h3 class="mb-sm">
                    {{ med["medication_name"] }}
                </h3>

                <p>
                    Dosage: {{ med["dosage_amount"] }} {{ med["dosage_unit"] }}
                </p>

                <p class="text-muted">
                    {{ med["start_date"] }} → {{ med["end_date"] }}
                </p>
            </header>

        </li>
        {% endfor %}

    </ul>

    {% else %}
        <p class="text-muted">No medications shared.</p>
    {% endif %}



    <!-- SYMPTOMS -->
    <h2 class="mb-lg mt-lg">Their Logged Symptoms</h2>

    {% if symptoms %}
    <ul class="activity-list">

        {% for symptom in symptoms %}
        <li class="card mb-md">

            <header class="mb-sm">

                <h3 class="mb-sm">
                    {{ symptom["symptom_name"] }}
                </h3>

                <p>
                    Severity: {{ symptom["severity"] }}
                </p>

                <p class="text-muted">
                    {{ symptom["symptom_date"] }}
                </p>

                {% if symptom["notes"] %}
                <p class="mt-sm">
                    {{ symptom["notes"] }}
                </p>
                {% endif %}

            </header>

        </li>
        {% endfor %}

    </ul>

    {% else %}
        <p class="text-muted">No symptoms logged.</p>
    {% endif %}

</main>

{% endblock %}