{% extends "base.html" %}

{% block main_content %}

<h1>MediMates</h1>

<table>
    {% for mate in medimates %}
        <tr>
            <td>{{ mate["friend2"] }}</td>
            <td>
                <a href="{{ url_for('remove_medimate', friend=mate['friend2'])}}">
                    Remove Medimate
                </a>
            </td>
            <td>
            {% if mate["allow_mates_activity"] %}
                <a href="{{ url_for('medimate_meds', friend_id=mate['user_id']) }}">
                See medications
                </a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<h1>Add Medimate</h1>

<form action="" method="POST" novalidate>

        {{ form.hidden_tag() }}

        {{ form.username.label }}
        {{ form.username() }}

        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}

        <br />

        {{ form.submit() }}

    </form>
    <p>{{ response }}</p>

<h1>Mate Requests</h1>

<table>
    {% for invite in invites %}
        <tr>
            <td>{{ invite["sender"] }}</td>
            <td>
                <a href="{{ url_for('accept_request', friend1=invite['sender'])}}">
                    Accept Request
                </a>
                <a href="{{ url_for('reject_request', sender=invite['sender'])}}">
                    Reject Request
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<h1>Pending Mate Requests</h1>

<table>
    {% for request in pending_requests %}
        <tr>
            <td>{{ request["receiver"] }}</td>
            <td>
                <a href="{{ url_for('cancel_request', receiver=request['receiver'])}}">
                    Cancel Request
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}