{% extends "base.html" %}

{% block main_content %}

<!-- Profle pictures can be seen once the designs for the avatars are done -->
<main id="profile">
    <header>
        <h1>{{ user.username }}</h1>
    </header>

    <section> 
        <a href="{{ url_for('edit_profile') }}" class="btn">Change Avatar</a>
        {% if user.profile_picture %}
        <img src="{{ url_for('static', filename='avatars/' + user.profile_picture) }}"
        alt="Profile picture"
        width="150">
        {% else %}
        <img src="{{ url_for('static', filename='avatars/avatar1.png') }}"
        alt="Default profile picture"
        width="150">
         {% endif %}
    </section>

    <section>
        <p><strong>Mates:</strong> {{ mates }}</p>
    </section>
</main>

{% endblock %}