{% extends "base.html" %}

{% block main_content %}

<section id="register">
      <header>
        <h1>Create account</h1>
    </header>

  <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <p>
      {{ form.email.label }}
      {{ form.email() }}
      {% if form.email.errors %}
        <ul>
          {% for error in form.email.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </p>

    <p>
      {{ form.username.label }}
      {{ form.username() }}
      {% if form.username.errors %}
        <ul>
          {% for error in form.username.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </p>

    <p>
      {{ form.password.label }}
      {{ form.password() }}
      {% if form.password.errors %}
        <ul>
          {% for error in form.password.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </p>

    <p>
      {{ form.confirm_password.label }}
      {{ form.confirm_password() }}
      {% if form.confirm_password.errors %}
        <ul>
          {% for error in form.confirm_password.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </p>

    <p>{{ form.submit() }}</p>

    <p>
      Already have an account?
      <a href="{{ url_for('login') }}">Sign in</a>
    </p>
  </form>
</section>


{% endblock %}